@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}



body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #FFFFFF;
}

/* Button */
.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
}

.navigation-item .button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.button-use-filter {
  background-color: #82B3D3;
}



.button-reset-filter {
  background-color: rgba(28,28,28,0);
}


.product-card-favourites-button {
  background-color: #82B3D3;
}

.product-card-added-to-favourites-button {
  background-color: #7DB54F;
}


/* Навигация */
.main-page-header a {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
}

.main-index {
  background-image: url(../images/main-index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* advantages list */
.advantages-list {
  text-align: center;
}

.advantages h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages p {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

/*advantages title */
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

/*advantages description */
.advantages-description {
  color: #333333;
}

.advantages-item-dark,
.advantages-item-dark p {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-the-lightest {
  background-color: #83B3D31F;
}

.advantages-item-light {
  background-color: #83B3D333;

}




/*service list */
.service-list {
  text-align: center;
}


.service h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.service p {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}



/*service title */
.service-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

/*service description */
.service-description {
  color: #333333;
}

.service-item-light {
  background-color: #83B3D31F;
}

.hotel-search {
  text-align: center;
}

.hotel-search h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.hotel-search p {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}


/*subscription description */
.page-subscription {
  background-image: url(../images/subscribe-form-background.jpg);
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}

/*subscription title */
.page-subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}


/*subscription description */
.page-subscription-description {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

/*Форма подписки */
.field {
  font-family: "PT Sans", sans-serif;
  background-color: #F2F2F2;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
}


/* Footer */
.page-footer {
  text-align: center;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
}






/* Catalog  */



.page-header a {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
}

.sorting-container {
  background-image: url(../images/filter-catalog-background.jpg);
  background-color: #000000;
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
}

/* Inner-header-title  */

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/* Breadcrumbs */
.breadcrumbs {
  font-size: 16px;
}

/* Breadcrumbs link */
.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

/* Infrastructure title */
.catalog-hotels-filter-group-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

/* input */
.control {
  line-height: 23px;
}

/* Title */
.price-range-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.price-min-input,
.price-max-input {
  font-family: "PT Sans", sans-serif;
  background-color: #F2F2F2;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.price-min,
.price-max {
  font-family: "PT Sans", sans-serif;
  background-color: #F2F2F2;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  text-transform: lowercase;
  text-align: right;
}

.total-of-hotels {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.select-control {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.button-view-icon-card-active {
  color: #000000;
  background-color: #FFFFFF;
}

.button-view-icon-slide-show {
  color: #ffffff;
  background-color: #000000;
}

.button-view-icon-list {
  color: #ffffff;
  background-color: #000000;
}

.product-card {
  background-color: #E6E6E6;
}

.product-card-link {
  color:#000000;
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}


.pagination {
  text-align: center;
}

.pagination-link {
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
background-color: #F2F2F2;
color: #000000;
}

.more {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}


.page-subscription-inner {
  background-color: #ffffff;
  text-align: center;
}

.page-subscription-inner h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.page-subscription-inner p {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
