@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #F2F2F2;
}



/* Button */
.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
}

.navigation-item .button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
}

.button-search {
  margin: 0 auto;
  width: 376px;
  font-size: 20px;
  line-height: 36px;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.button-use-filter {
  width: 191px;
  height: 36px;
  background-color: #82B3D3;

}



.button-reset-filter {
  width: 191px;
  height: 36px;
  background-color: rgba(28, 28, 28, 0);
}


.product-card-favourites-button {
  background-color: #82B3D3;
}

.product-card-added-to-favourites-button {
  background-color: #7DB54F;
}


/* Навигация */

.page-navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.navigation-list {
  margin: 0;
  width: 450px;
  margin-left: 30px;
  padding: 0 16px;
}

.navigation-user {
  max-width: 310px;
  margin-left: 285px;
  margin-right: 70px;
}

.header-logo {
  display: block;
  margin-right: 0 auto;
  margin-left: 70px;
}

.page-header a {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.hero {
  background-image: url(../images/main-index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: auto;
}

/* advantages list */
.advantages-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}


.advantages h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages p {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

/*advantages title */
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

/*advantages description */
.advantages-description {
  color: #333333;
}

.advantages-item-dark,
.advantages-item-dark p {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-the-lightest {
  background-color: #83B3D31F;
}

.advantages-item-light {
  background-color: #83B3D333;
}

.advantages-item {
  margin: 0;
  padding: 0;
  width: 400px;
}

.advantages-item-dark {
  width: 1200px;
}


.main-photo-1,
.main-photo-2 {
  display: block;
  width: 800px;
  height: 385px;
}



/*service list */
.service-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}

.service-item {
  width: 400px;
  padding: 0 85px;
}

.service h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.service p {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}



/*service title */
.service-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

/*service description */
.service-description {
  color: #333333;
}

.service-item-light {
  background-color: #83B3D31F;
}

.hotel-search {
  padding-top: 96px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}


.hotel-search h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.hotel-search p {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}


/*subscription description */
.page-subscription {
  width: 1200px;
  background-image: url(../images/subscribe-form-background.jpg);
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}

/*subscription title */
.page-subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}


/*subscription description */
.page-subscription-description {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

/*Форма подписки */
.field {
  font-family: "PT Sans", sans-serif;
  background-color: #F2F2F2;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
}


/* Footer */
.page-footer {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #FFFFFF;
}

.page-footer-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.socials-media {
  width: 190px;
  margin-left: 70px;
  margin-right: 42px;
}

.contacts-phone {
  width: 720px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
}

.site {
  width: 130px;
  margin-right: 70px;
  margin-left: 42px;
}




/* Catalog  */


/* Лишний блок css о хэдере */
/* .page-navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.page-header a {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
} */



.sorting-container {
  background-image: url(../images/filter-catalog-background.jpg);
  background-color: #000000;
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Inner-header-title  */

.inner-header-title {
  margin-left: 70px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/* Breadcrumbs */
.breadcrumbs {
  margin-left: 70px;
  width: 200px;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
}

.breadcrumbs :first-child {
  margin-right: 28px;
}

/* Breadcrumbs link */
.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}




.filtr-feildset-container {
  display: flex;
  justify-content: space-between;
}


.buttons-filtr {
  margin-left: 70px;
}

.catalog-hotels-filter-group {
  width: 160px;
  padding: 0;
  margin-left: 70px;
}


/* Infrastructure title */
.catalog-hotels-filter-group-title {

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

/* input */
.control {
  line-height: 23px;
}

.price-range {
  width: 288px;
  margin-left: 140px;
}

/* Title */
.price-range-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.price-min-input,
.price-max-input {
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.price-min,
.price-max {
  font-family: "PT Sans", sans-serif;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  text-transform: lowercase;
  text-align: right;
}


.hotels-container {
  display: flex;
  justify-content: space-between;
}

.total-of-hotels {
  width: 350px;
  margin-right: auto;
  margin-left: 70px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.select-control {
  width: 292px;
  margin: 0 auto;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.button-view {
  width: 160px;
  margin: 0 70px;
}

.button-view-icon-card-active {
  color: #000000;
  background-color: #FFFFFF;
}

.button-view-icon-slide-show {
  color: #ffffff;
  background-color: #000000;
}

.button-view-icon-list {
  color: #ffffff;
  background-color: #000000;
}


.product-list {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 70px;
  padding: 0;
}

.product-card {
  width: 300px;
  margin: 0;
  padding: 0 20px;
  background-color: #FFFFFF;
}

.product-card-link {
  color: #000000;
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}


.pagination {
  margin: 0 70px;
  display: flex;
  width: 1060px;
  flex-wrap: wrap;
  text-align: center;
}

.pagination-item {
  width: 60px;
  margin: 0 8px;
}

.pagination-link {
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.more {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}


.page-subscription-inner {
  width: 684px;
  margin: 0 258px;
  background-color: #ffffff;
  text-align: center;
}

.page-subscription-inner h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.page-subscription-inner p {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
