@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Button */
.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
}

.navigation-item .button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
}

.button-search {
  margin: 0 auto;
  width: 376px;
  font-size: 20px;
  line-height: 36px;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.button-use-filter {
  width: 191px;
  height: 36px;
  background-color: #82B3D3;
  margin-bottom: 32px;
  padding: 0;

}



.button-reset-filter {
  width: 191px;
  height: 36px;
  background-color: rgba(28, 28, 28, 0);
  padding: 0;
}


.product-card-favourites-button {
  background-color: #82B3D3;
}

.product-card-added-to-favourites-button {
  background-color: #7DB54F;
}


/* Навигация */

.page-navigation {
  display: flex;
  margin: 0;
  padding: 0 70px;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 450px;
  margin-left: 30px;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 310px;
  margin-left: 174px;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}

.navigation-link {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
}

.header-logo {
  display: block;
  margin-right: 0 auto;
  margin-bottom: -6px;
}


.navigation-link {
  display: block;
  padding: 20px 16px;
}

.main-container {
  flex-grow: 1;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.hero {
  background-image: url(../images/main-index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 51px 371px 82px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: auto;
  /* padding-bottom: 82px; */
}

/* advantages list */

.advantages-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}


.advantages h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.advantages p {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.advantages-title-container p {
  font-size: 22px;
  line-height: 26px
}

/*advantages title */
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62px;
}

/*advantages description */
.advantages-description {
  color: #333333;
  margin: 0;
}

.advantages-title-container {
  margin: 0;
  padding: 69px 290px;
}


.advantages-container {
  margin: 0;
}

.advantages-container-with-photo {
  margin: 0;
  padding: 102px 85px;
}

.advantages-item-dark,
.advantages-item-dark p {
  background-color: #82B3D3;
  color: #FFFFFF;
  /* padding: 102px 85px; */
}

.advantages-item-the-lightest {
  background-color: #83B3D31F;
  padding: 113px 85px;
}

.advantages-item-light {
  background-color: #83B3D333;
  padding: 113px 85px;
}

.advantages-item {
  display: flex;
  /* Сверху решение вопроса по спискам с фото */
  align-items: center;
  margin: 0;
  /* padding: 0; */
  width: 400px;
  box-sizing: border-box;
}


.advantages-item-dark {
  width: 1200px;
}


.main-photo-1,
.main-photo-2 {
  display: block;
  width: 800px;
  height: 385px;
}

.main-photo-2 {
  order: -1;
}


.service-title-container {
  margin: 0;
  padding: 64px 348px;
}



/*service list */
.service-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
  /* box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0; */
  text-align: center;
  list-style-type: none;
}

.service-item {
  width: 400px;
  /* padding: 0 85px; */
}

.service h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.service p {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.service-title-container p {
  font-size: 22px;
  line-height: 26px;
}

/*service title */
.service-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

/*service description */
.service-description {
  color: #333333;
  margin: 0;
}

.service-container {
  padding: 81px 85px;
}

.service-item-light {
  background-color: #83B3D31F;
}

.hotel-search {
  padding: 96px 304px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}


.hotel-search h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.hotel-search p {
  margin: 0;
  margin-bottom: 54px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}


/*subscription description */
.page-subscription {
  background-image: url(../images/subscribe-form-background.jpg);
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;

}

/*subscription title */
.page-subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.page-subscription-container {
  padding: 96px 258px 104px;
}

/*subscription description */
.page-subscription-description {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 54px;
}

/*Форма подписки */
.field {
  font-family: "PT Sans", sans-serif;
  background-color: #F2F2F2;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
}


/* Footer */
.page-footer {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  background-color: #FFFFFF;
}

.page-footer-container {
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 40px;
  padding-right: 70px;
  padding-bottom: 30px;
  padding-left: 70px;
  display: flex;
  justify-content: space-between;
}

.socials-media {
  width: 190px;
}

.socials-media-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.socials-media-item {
  width: 56px;
  height: 44px;
  margin-right: 11px;
  margin-bottom: 11px;
}

.socials-media-item:nth-child(3n) {
  margin-right: 0;
}


.contacts-phone {
  width: 720px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
}


.site {
  width: 130px;
}




/* Catalog  */


/* Лишний блок css о хэдере */
/* .page-navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.page-header a {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
} */



.sorting-container {
  background-image: url(../images/filter-catalog-background.jpg);
  background-color: #000000;
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px 70px;
  /* padding-bottom: 70px; */
}

/* Inner-header-title  */


.inner-header {
  padding-bottom: 40px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  /* margin-right: 636px;
  margin-bottom: 8px;
  margin-left: 70px; */

}

/* Breadcrumbs */
.breadcrumbs {
  margin: 0;
  /* margin-left: 70px;
  margin-bottom: 40px; */
  padding: 0;
  width: 200px;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  list-style-type: none;
}


/* Breadcrumbs link */
.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  margin-right: 28px;
}


.catalog-hotels {
  margin: 0;
  padding: 0;
  /* margin: 0 70px 70px 70px;
  padding-bottom: 70px; */
}

.filtr-feildset-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}


.buttons-filtr {
  padding-top: 56px;
  margin-bottom: 16px;
}

.catalog-hotels-filter-group {
  box-sizing: border-box;
  width: 280px;
  padding: 0;
  margin: 0;
}

.catalog-hotels-filter-group {
  margin-right: 70px;
}

.filtr-type-of-housing {
  margin-right: 140px;
}

.catalog-hotels-filter-list {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.catalog-hotels-filter-item {
  margin: 0;

}

.catalog-hotels-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

/* Infrastructure title */
.catalog-hotels-filter-group-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 32px;
}



fieldset {
  border: 0 none;
}

/* input */
.control {
  line-height: 23px;
}

.price-range {
  width: 288px;
  padding: 0;
  margin-right: 70px;
  margin-left: 0;
}

/* Title */
.price-range-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.price-min-input,
.price-max-input {
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.price-min,
.price-max {
  font-family: "PT Sans", sans-serif;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  text-transform: lowercase;
  text-align: right;
}


legend {
  padding: 0;
}


.hotels-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 50px 70px 40px;
  box-sizing: border-box;
}

.total-of-hotels {
  width: 350px;
  margin: 0;
  margin-right: 200px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.select-control {
  width: 292px;
  height: 49px;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.button-view {
  width: 160px;
  margin-right: 8px;
}



.button-view-icon-card-active {
  color: #000000;
  background-color: blue;
}

.button-view-icon-slide-show {
  color: #ffffff;
  background-color: red;
}

.button-view-icon-list {
  color: #ffffff;
  background-color: #000000;
}

.button-view {
  width: 48px;
  height: 48px;
}


.product-list {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding:0 70px 40px;
  margin: 0;
  /* display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  padding: 0 70px; */
  box-sizing: border-box;
  list-style-type: none;
}

.product-card:nth-child(3n) {
  margin-right: 0;

}

.product-card {

  /* width: 300px;
  margin: 0;
  padding: 0 20px;
  margin-right: 20px; */
  background-color: #FFFFFF;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing:border-box;
}

.product-card-link {
  color: #000000;
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
}


.product-card-image {
  margin-bottom: 16px;
}


.hotel-and-price {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
}


.pagination-container {
  display: flex;
  margin: 0;
  padding: 40px 70px 60px;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 1060px;
  flex-wrap: wrap;
  text-align: center;
}

.pagination-item {
  width: 60px;
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  color: #FFFFFF;
  min-width: 60px;
  height: 60px;
  padding: 11px;
  background-color: #82B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.more {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}


.page-subscription-inner {
  background-color: #ffffff;
  text-align: center;
}

.page-subscription-inner h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.page-subscription-inner p {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
